@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #dce4e5, #ced7d8, #c1cacb, #b3bdbe, #a6b0b2);
}

.card-container {
  background-image: linear-gradient(to top, #000000, #1c1a1c, #2e2e33, #3d454a, #4e5d5f);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  height: 90vh;
  width: 380px;
}

.card,
input,
button {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.input-container {
  display: flex;
  padding: 12px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

input::placeholder {
  color: white;
}

.input-container input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  flex: 1;
  color: white;
}

button {
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
}

button img {
  width: 18px;
  height: 20px;
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  min-width: 150px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  margin: 10px;
  text-align: center;
}

.card img {
  width: 60px;
  height: 60px;
}

.weather-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  gap: 16px;
}

.weather-top h2 {
  margin: 8px 0;
}

.weather-icon {
  width: 120px;
  height: 120px;
}

.weather-desc {
  text-transform: capitalize;
  margin-top: 5px;
  font-size: 18px;
  opacity: 0.9;
}